.join {
    &__banner {
        position: relative;
        display: flex;
        width: 100%;
        background: $black_deep;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }

        &__image {
            content: "";
            width: 50%;
            height: 100%;
            background: url('../images/join/team.jpeg') no-repeat center/cover;

            @media screen and (max-width: 1024px) {
                width: 100%;
                height: auto;

                &::before {
                    padding-bottom: 65%;
                    width: 100%;
                    content: "";
                    display: block;
                }
            }
        }

        &__content {
            padding: 6rem 20rem 6rem 6rem;
            flex-grow: 1;

            @media screen and (max-width: 1024px) {
                padding: 3.2rem;
                padding-bottom: 4.8rem;
            }

            .title {
                font-family: $roboto;
                color: $white;
                font-size: 1.8rem;
                line-height: 2.4rem;
                display: flex;
                flex-direction: column;
                font-weight: 400;
            }

            .button {
                margin: 3.2rem 0 0 0;
                display: block;
            }
        }
    }
}