// Fonts styles
$spectral: 'Spectral', serif;
$roboto: 'Roboto Mono', arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    line-height: 2.4rem;
    margin-bottom: 1.6rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.text-center {
    text-align: center;
}

.text-gradient, strong {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* [class*="title"] {
    font-family: $spectral;
    color: $black_deep;
    font-size: 4.8rem;
    line-height: 5.6rem;
    font-weight: 500;

    @media screen and (max-width: 1024px) {
        font-size: 3.6rem;
        line-height: 1;
    }

    &[class*="--small"] {
        font-size: 1.6rem;
        line-height: 1.6rem;
        font-weight: 500;
        color: $gray_deep;
        margin-bottom: 1.2rem;
    }

    &[class*="--big"] {
        font-size: 7.2rem;
        font-family: $roboto;
        font-weight: 400;
    }
}